{% extends "laboratories.html" %}
{% load static %}

{% block pageName %}Laboratories | Innovation Lab{% endblock %}

{% block titleText %}Innovation Lab{% endblock %}
<div class="imageContainer" style="background: url({% static 'Images/MathsLabHome.jpg' %}) no-repeat center; background-size: cover;" >
    <h1 style="font-size: 100px; padding-top: 12%; color:white;"><strong>Mathematics Lab</strong></h1>
  </div>
{% block body %}

In this laboratory, students are facilitated to make their own experimental set-ups/demonstration kits viz. pythagorean cup, electric motor, mini dynamo/ small electric generator, cartesian diver, air convection/ cycle, thermocol ball shower/ sprinkler, marriott   bottle, magnetic levitating pencil, magnetic standing pencil, straw atomizer, anti- gravity, climbing butterfly, gravity defying glass of water, cd spectroscope, vortex- water tornado, cd – hovercraft, electroscopes etc. Students are motivated to design their own innovative set-ups.


{% endblock %}
