{% extends "laboratories.html" %}
{% load static %}

{% block pageName %}Laboratories | Cheemistry{% endblock %}

{% block titleText %}Chemistry Lab{% endblock %}

{% block body %}
<div class="imageContainer" style="background: url({% static 'Images/MathsLabHome.jpg' %}) no-repeat center; background-size: cover;" >
  <h1 style="font-size: 100px; padding-top: 12%; color:white;"><strong>Mathematics Lab</strong></h1>
</div>
<div class="general">

  <p>Chemistry is a fundamental and enabling science that investigates molecules the building blocks of all matter and how they interact to affect the composition, structure and properties of substances. The industrial applications of chemistry directly affect our daily lives what we eat, what we wear, our transport, the technology we use, how we treat illnesses and how we get electricity. Research is constantly deepening our understanding of chemistry, and leading to new discoveries. Chemistry will help us solve many future problems, including sustainable energy and food production, managing our environment, providing safe drinking water and promoting human and environmental health.
The Chemistry lab focuses on exploration and innovation. The Chemistry lab is one of the most advanced including an ample amount of resources for the students to work individually. As the community, we are committed to excellence to provide students with a deep foundation through a practical approach. The general chemistry curriculum is designed to cover the similar topics as the syllabus and includes experimentation and activities in :</p>

<ul>
<li>Qualitative Analysis</li>
<li>Volumetric Analysis</li>
<li>Molecular Modeling</li>
<li>Microscale Chemistry</li>
<li>Game Based learning</li>
</ul>

</div>

<div class="general blue2">

<p>The Chemistry lab focuses on exploration and innovation. The Chemistry lab is one of the most advanced including sufficient resources for the students to work individually. We are committed to excellence to provide students with a sound foundation through a practical approach. The general chemistry curriculum is designed to cover the similar topics as the syllabus and includes experimentation and activities in : Qualitative Analysis, Volumetric Analysis, Molecular Modeling, Microscale Chemistry, Game Based learning. 
  The Chemistry lab is equipped with the advanced instruments which are used for the research purposes and students get chance to handle some of these equipments -
  </p>

<ul>
<li>pH Meter</li>
<li>Colorimeter</li>
<li>Calorimeter</li>
<li>Centrifuge Machine</li>
<li>Auto burette</li>
<li>Distillation Assembly</li>
<li>Hot Plate</li>
<li>Hot Plate Magnetic Stirrer</li>
<li>Heating Mantle</li>
<li>Muffle Furnace</li>
<li>Hot Air Oven</li>
<li>Digital Weighing Balance</li>
<li>Analytical Chemical Balance</li>
<li>Ultrasonic Cleaner</li>
<li>Electrolysis Apparatus</li>
<li>Molecular Modelling Kits</li>
</ul>

</div>

<div class="general">
  <p>
    List of some experiments and activities:
  </p>
  <ul>
    <li>To study physical and chemical changes. </li>
    <li>To study Neutralisation reaction. </li>
    <li>To find the nature of different salt solutions using blue and red litmus paper.</li>
    <li>To study the conditions necessary for rusting.</li>
    <li>To separate coloured components present in the black ink by using paper chromatography.</li>
    <li>To study decomposition reaction.</li>
    <li>To determine the pH of the given samples by pH paper & universal indicator</li>
    <li>To study properties of acids & bases.</li>
    <li>To study the effect of concentration on rate of reaction.</li>
    <li>Preparation and identification of various gases</li>
    <li>To study the law of conservation of mass.</li>
    <li>Identification of acidic and basic radicals in the given unknown salts</li>
  </ul>
</div>
{% endblock %}
