{% extends "laboratories.html" %}
{% load static %}

{% block pageName %}Laboratories | Computers{% endblock %}

{% block titleText %}Computer Lab{% endblock %}

{% block body %}
<div class="imageContainer" style="background: url({% static 'Images/MathsLabHome.jpg' %}) no-repeat center; background-size: cover;" >
  <h1 style="font-size: 100px; padding-top: 12%; color:white;"><strong>ICT Lab</strong></h1>
</div>
<div class="general">
  <p>Electronics and ICT are the fast growing branches of science because of which we are into the world of sensors with different electronic devices in our day to day life. In this laboratory, students are exposed to different electronic components viz. resistors, capacitors, transformers, etc. through demonstration and experiments. They are also trained to make circuits on breadboards. Students also try their hands on simulation for some basic circuits. Alongwith the fundamental understanding of electronics, we train the students for different ICT tools for data analysis and effective communication. Students are also exposed to web page development using HTML. Soon, advanced coding will  be added to the curriculum.
  Major Instruments present in the lab are as follows:</p>
  <ul>
  <li>Regulated DC power supply</li>
  <li>Digital Multimeter</li>
  <li>Digital Oscilloscope</li>
  <li>Function Generator</li>
  <li>LCR-Q meter</li>
  <li>Dimmerstat</li>
  <li>Plasma Globe</li>
  <li>Demonstration Transformer</li>
  <li>Transistor amplifier kit</li>
  <li>Solar cell characteristics apparatus</li>
  </ul>
</div>

<div class="general blue2">
  <p>List of some experiments and activities:</p>
  <ul>
  <li>To study the symbols of different components.</li>
  <li>To study the multimeters.</li>
  <li>To study the conversion of decimal representation of a number into binary representation.</li>
  <li>To study the Breadboard.</li>
  <li>To study the factors on which the resistance of conducting wires depends.</li>
  <li>To study the combination of resistors in series & Parallel.</li>
  <li>To study the light dependent resistor (LDR).</li>
  <li>To study the phenomenon of electromagnetic induction.</li>
  <li>To study the Transformer.</li>
  <li>To study the Digital Storage oscilloscope (DSO).</li>
  </ul>
</div>
{% endblock %}
