{% extends "format.html" %}
{% load static %}

{% block pageName %}About Us{% endblock %}

{% block submenu %}
<tr>
  <td onclick="location.href='/AboutUs/ourPhilosophy'">Our Philosophy</td>
  <td onclick="location.href='/AboutUs/management'">Management</td>
  <td onclick="location.href='/AboutUs/visitingFaculty'">Visiting Faculty</td>
  <!--<td onclick="location.href='/AboutUs/contactUs'">Contact Us</td>-->
</tr>
{% endblock %}

{% block titleText %}About Us{% endblock %}

{% block body %}
<div class="general" style="width:95%; padding-top: 2em; margin-bottom: 4em;">
  <p class="lead text-center about" style="font-size:1.5em">
    Bajaj Science Education Centre was established in 2007, with Shri Rahul Bajaj as its president. Mr. C.K Desai served as its founder Director till 2015 and laid the foundations of its ‘learning-by-doing’ philosophy.  
    <br>    The Centre is spread over an area of 3000 m2. It has six laboratories (Physics, Chemistry, Mathematics, Biology, Electronics and Computers, Astronomy). Each laboratory is equipped for carrying out the prescribed experiments and also has the pedagogic tools and teaching aids required for imparting learning. The Centre also houses a library, an auditorium, an exhibition hall and an open-air amphitheatre. 
  </p>
</div>

<div class="general blue2">
  <p>Organizational Structure:
  </p>
 <table border="1" >
     <tr>
       <td>President:</td>
       <td>Shri Rahul Bajaj (Chairman Emeritus, Bajaj Auto Ltd, Head of Bajaj Group) </td>
     </tr>
     <tr>
       <td>Trustees:</td>
       <td>
        Shri Shekhar Bajaj (Chairman, Bajaj Electricals Ltd.) </br>
        Shri Madhur Bajaj (Vice Chairman, Bajaj Auto Ltd.)</br>
        Shri Niraj Bajaj (Co-Chairman, Mukund Limited)</br>
        Shri Sanjay Bhargava (Chairman, Shiksha Mandal, Wardha)
      </tr>
       </td>
       
     </tr>
     <tr>
       <td>Secretary:</td>
       <td>Shri Bharat Mahodaya</td>
     </tr>
     <tr>
       <td>Joint Secretary:</td>
       <td>Shri Bhupendra Lohiya</td>
     </tr>
     <tr>
       <td>Honor</td>
       <td>Mr. Amit Punewar (Laboratory Assistant)</td>
     </tr>
     <tr>
       <td>Mentary Director:</td>
       <td>Dr. Govinda Lakhotiya</td>
     </tr>
     <tr>
       <td>Teaching Staff:</td>
       <td>
         Ms. Manisha Sakhare (Mathematics)</br>
         Ms. Kavita Hande (Electronics)</br>
         Ms. Shikha Oza (Chemistry)</br>
         Ms. Pratiksha Pandey (Biology)</br>
         Mr. Sumit Bobade (Physics)
       </td>
     </tr>
     <tr>
       <td>Administrative Staff:</td>
       <td>
         Ms. Manisha Deshmukh (Administrative Officer)</br>
         Shri C. Y. Deshpande, Dean, Bajaj Institute of Technology.</br>
         Dr. Sujata Bhargava, Former Head, Department of Botany, University of Pune.</br>
         Dr. Vasudha Wanmali, Former Vice-Principal, Bajaj College of Science, Wardha.
       </td>
     </tr>
 </table>
</div>
<div class="general right hoverShadow hUnderline" style="padding: 40px 0px;" onclick="location.href='/AboutUs/ourPhilosophy'">
  <h1><strong>Our Philosophy        <i class="fas fa-arrow-circle-right"></i><strong></h1>
</div>

<div class="general blue2 right hoverShadow hUnderline" style="padding: 40px 0px;" onclick="location.href='/AboutUs/management'">
  <h1><strong>Management        <i class="fas fa-arrow-circle-right"></i><strong></h1>
</div>

<div class="general right hoverShadow hUnderline" style="padding: 40px 0px;" onclick="location.href='/AboutUs/visitingFaculty'">
  <h1><strong>Visiting Faculty        <i class="fas fa-arrow-circle-right"></i><strong></h1>
</div>

<!--<div class="general blue2 right hoverShadow hUnderline" style="padding: 40px 0px;" onclick="location.href='/AboutUs/contactUs'">
  <h1><strong>Contact Us        <i class="fas fa-arrow-circle-right"></i><strong></h1>
</div>-->

{% endblock %}
