{% extends "format.html" %}
{% load static %}

{% block pageName %}About Us{% endblock %}

{% block submenu %}
<tr>
  <td onclick="location.href='/AboutUs/ourPhilosophy'">Our Philosophy</td>
  <td onclick="location.href='/AboutUs/management'">Management</td>
  <td onclick="location.href='/AboutUs/visitingFaculty'">Visiting Faculty</td>
  <!--<td onclick="location.href='/AboutUs/contactUs'">Contact Us</td>-->
</tr>
{% endblock %}

{% block titleText %}About Us{% endblock %}

{% block body %}
<div class="general" style="width:95%; padding-top: 2em; margin-bottom: 4em;">
  <h1 style="text-align: center; overflow-y: hidden;"><strong>About Us</strong></h1>
  <p class="text-center about" style="font-size:1.5em; text-align: justify;">
    Bajaj Science Education Centre was established in 2007, with Shri Rahul Bajaj as its president. Mr. C.K Desai served as its founder 
    Director till 2015 and laid the foundations of its ‘learning-by-doing’ philosophy.  
    <br>    The Centre is spread over an area of 3000 m<sup>2</sup>. <br> It has six laboratories (Physics, Chemistry, 
    Mathematics, Biology, Electronics and Computers, Astronomy). Each laboratory is equipped for carrying out the prescribed experiments and also has the pedagogic tools and teaching aids required for imparting learning. The Centre also houses a library, an auditorium, an exhibition hall and an open-air amphitheatre. 
  </p>
</div>


<div class="general right hoverShadow hUnderline" style="padding: 40px 0px;" onclick="location.href='/AboutUs/ourPhilosophy'">
  <h1><strong>Our Philosophy <i class="fas fa-arrow-circle-right"></i><strong></h1>
</div>

<div class="general blue2 right hoverShadow hUnderline" style="padding: 40px 0px;" onclick="location.href='/AboutUs/management'">
  <h1><strong>Management        <i class="fas fa-arrow-circle-right"></i><strong></h1>
</div>

<div class="general right hoverShadow hUnderline" style="padding: 40px 0px;" onclick="location.href='/AboutUs/visitingFaculty'">
  <h1><strong>Visiting Faculty        <i class="fas fa-arrow-circle-right"></i><strong></h1>
</div>

<!--<div class="general blue2 right hoverShadow hUnderline" style="padding: 40px 0px;" onclick="location.href='/AboutUs/contactUs'">
  <h1><strong>Contact Us        <i class="fas fa-arrow-circle-right"></i><strong></h1>
</div>-->

{% endblock %}
