{% extends "laboratories.html" %}
{% load static %}

{% block pageName %}Laboratories | Biology{% endblock %}

{% block titleText %}Biology Lab{% endblock %}

{% block body %}
<div class="imageContainer" style="background: url({% static 'Images/MathsLabHome.jpg' %}) no-repeat center; background-size: cover;" >
  <h1 style="font-size: 100px; padding-top: 12%; color:white;"><strong>Biology Lab</strong></h1>
</div>
<div class="general">

  <p>Biology laboratory conducts experiments and activities based on Botany, Zoology, Human biology, Plant physiology, Biochemistry, cell biology, earth sciences for students with the help of which they can get core understanding in this dynamic subject of life science. Students work individually or in small groups on a question, problem or hypothesis. They use the processes and materials of science to construct their own explanation of biological phenomena. They observe, collect data and interpret data of life processes and living organisms.
  </p><br>
  <p>
    The laboratory has preserved specimens of plants and animals, permanent slides, working models and charts. Biology laboratory is well-equipped with the best quality appliances which includes:

  </p>

<ul>
<li>Bacteriological Incubator</li>
<li>Hot Air Oven</li>
<li>Autoclave</li>
<li>Simple and compound Microscopes</li>
<li>Digital Colony Counter Apparatus</li>
<li>Electrophoresis Assembly</li>
<li>Sphygmomanometer</li>
<li>Stethoscope</li>
<li>Glucometer</li>
<li>Hb meter</li>
<li>Human Skeleton model</li>
</ul>
</div>

{% endblock %}
