<!DOCTYPE html>
<html>

  <head>
    <title>Bajaj Science Centre | {% block pageName %}Format{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link href="{% static 'CSS/main31.css' %}" rel = "stylesheet" type = "text/css">
    <link href="{% static 'CSS/slider.css' %}" rel = "stylesheet" type = "text/css">
    <link href="{% static 'CSS/home.css' %}" rel = "stylesheet" type = "text/css">
    <link href="{% static 'CSS/laboratories.css' %}" rel = "stylesheet" type = "text/css">
    <style>
      h1{
        overflow-y: hidden !important;
      }
    </style>



    {% block JSFiles %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.9.0/p5.js"></script>
    <!--<script src="{% static 'JS/s.js' %}"></script>
    <script src="{% static 'JS/p.js' %}"></script>
    <script src="{% static 'JS/pb3.js' %}"></script>-->
    <script src="{% static 'JS/particles.js' %}"></script>
    <script src="{% static 'JS/par2.js' %}"></script>
    <script src="{% static 'JS/scrollCaptions.js' %}"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>




    
    <script src="https://kit.fontawesome.com/c4fa8e95b3.js" crossorigin="anonymous"></script>
    {% endblock %}

    {%block extraJSFiles %}

    {% endblock %}
  </head>

  <body style="overflow-x: hidden;">
    {% block menubar %}

      <div class="header" id="header" style="overflow-y: hidden;">
        <div id="Particles" style="width: 100%; height: 300px;position: absolute; top: 0px; left: 0px; z-index: 0; cursor: default; overflow-y:hidden; "></div>
        <script>
          particlesJS('Particles', 'particle.json');
        </script>
        <!--<table class="nameAndLogo">
          <tr>
            <th><i class="fas fa-atom"></i> <i class="fas fa-flask"></i> <i class="fas fa-dna"></i> <i class="fas fa-infinity"></i> <i class="fas fa-meteor"></i></th>
          </tr>
          <tr>
            <th>Bajaj Science Centre</th>
          </tr>
            <tr>
            <td>"A place to think and a place to do"</td>
          </tr>
        </table>-->

        <table class="nameAndLogo">
          <tr>
            <td>Gandhi Gyaan Mandir's</td>
            <th style="overflow-y: hidden;" class="logo" rowspan="5" width="250px"><img src="{% static 'Images/Logo.png' %}"  width="200px" height="200px" style="vertical-align:middle;"></th>
          </tr>
          <tr>
            <th >Bajaj Science Education Center</th>
          </tr>
          <tr>
            <td>"A place to think and a place to do"</td>
            <td></td>
          </tr>
          <tr>
            <td style="font-size: 15px;">Estd. 2007</td>
            <td></td>
          </tr>
        </table>
      </div>

  <!-- <div>Testing Purpose</div>   -->
      <!-- <div class="menubar">
        <div class="top">
          <table class="mainMenu">
            <tr>
              <td onclick="location.href='/Home'">Home</td>
              <td onclick="location.href='/AboutUs'">About Us</td>
              <td onclick="location.href='/Programs'">Batches</td>
              <td onclick="location.href='/Laboratories'">Infrastructure</td>
              <td onclick="location.href='/StudentSection'">Student Section</td>
              <td onclick="location.href='/NoticeBoard'">Notice Board</td>
              <td onclick="location.href='/SocialMedia'">Social Media</td>
            </tr>
          </table>
        </div> -->

      <div class="menubar">
        <div class="top">
          <div class="mainMenu">
            <ul style="font-size: 15px;">
              <li onclick="location.href='/Home'"><a>Home</a></li>
              <li onclick="location.href='/AboutUs'"><a>About Us</a></li>
              <li onclick="location.href='/Programs'"><a>Admissions</a></li>
              <li onclick="location.href='/Laboratories'"><a>Infrastructure</a></li>
              <li onclick="location.href='/StudentSection'"><a>Student Section</a></li>
              <li onclick="location.href='/NoticeBoard'"><a>Notice Board</a></li>
              <li onclick="location.href='/SocialMedia'"><a>Social Media</a></li>
            </ul>
          </div>
        </div>
      </div>

      </div>
    {% endblock %}

      {% block title %}
      <!-- <div class="title">
        <img src="{% static 'Images/Laboratory Picture.jpg' %}">
        <div class="titleIMG">
          <img class="titleImage" src={% block imageSRC %}"{% static 'Images/auditorium1.jpg' %}"{% endblock %}>
          <h1 class="titleText">{% block titleText %}Format{% endblock %}</h1>
        </div>
      </div> -->
      {% endblock %}

    {% block body %}
    {% endblock %}

    {% block loginData %}
      {% if user.is_superuser %}

      <div class="notice">
        <h1 class='link' onclick="location.href='/manageWebsite'">Welcome {{user.first_name}}, Click here to manage website</h1>
        <h1 class='link subsidiary' onclick="location.href='/logout'">Not {{user.first_name}}? Click here to logout</h1>
      </div>

      {% elif user.is_authenticated %}

        <div class="notice">
          <h1 class='link' onclick="location.href='/StudentSection/simulations'">Welcome {{user.first_name}}. Click here to go to Simulations</h1>
          <h1 class='link subsidiary' onclick="location.href='/logout'">Not {{user.first_name}}? Click here to logout</h1>
        </div>

      {% else %}

        <div class="notice">
          <h1 class='link' onclick="location.href='/login'">To access full functionality of the website, click here to sign in</h1>
        </div>

      {% endif %}
    {% endblock %}

    {% block footer %}
    <div class="site-footer">
      <div class="container">
        
            <div style="display: flex; flex-direction: column; align-items: flex-start;">
              <div>
                📱 Phone<br>
                <h6>07152-247024, +91 75594-03762</h6>
                
              </div>
              <div>
                    🗺  Address<br>
                  <h6> Gandhi Gyan Mandir’s, Bajaj Science Education Center Civil line Wardha, Maharashtra. Pin: 442001</h6>
                </div>
            
            </div>

            <div style="display: flex; flex-direction: column; align-items: flex-start; text-align: left;"> 
              <div href="">
                Email<br>
                <h6 style="text-transform: lowercase;">bajajscience.wda@gmail.com</h6>
              </div>
              <div href="" >
                  Office - Hours<br>
                  <h6>🕙 10:00 am - 🕕 06:00 pm</h6>
              </div>
            </div> 
      
        <hr>
      
      </div>
      <div class="container">
        <div class="row">
            <p class="copyright-text">Copyright &copy; 2021 All Rights Reserved by 
            <a href="#">Pragmizers</a>.
            </p>
        </div>
      </div>
    </div>
    {% endblock %}
  </body>
  <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
  <script src="{% static 'JS/slider.js' %}"></script>
  <script src="{% static 'JS/home.js' %}"></script>

</html>
