{% extends "format.html" %}
{% load static %}

{% block pageName %}Home{% endblock %}

{% block submenu %}
{% endblock %}
{% block titleText %}Home{% endblock %}

{% block body %}

<div class="general">
  <h1><strong>What is the Bajaj Science Centre?</strong></h1>
  <p>Bajaj Science Education Centre is a place for children to learn science through exploration and play. 
     Our goal is to spark curiosity in their minds and to inculcate a sense of excitement in studying science.
     We strive to nurture creativity and innovation. 
  </p>

</div>

<div class="parallaxIMG">
  <img class="IMG" src="{% static 'Images/classroom.jpg' %}">
  <h1 class="caption right">A Classroom in Session</h1>
</div>

<div class="general right blue2">
  <h1><strong>Why is the Bajaj Science Center Important?</strong></h1>
  <p>The Bajaj Science Education Centre encourages children to discover and explore science through hands-on experimentation,
     which is largely missing in school curricula. It does this through laboratory sessions held in five laboratories, 
     each dedicated to a different branch of science.</p>

</div>

<div class="parallaxIMG">
  <img class="IMG" src="{% static 'Images/classroom4.jpg' %}">
  <h1 class="caption left">A Classroom in Session</h1>
</div>

<div class="general">
  <p>The Bajaj Science Center has different batches for different students at different grade levels with different learning
  goals. We have different classes for studnets of grades 5, 6, 7, 8, 9 and 10. Grade 7 is split into the Pracicals Batch and the
Scholars Batch. Grade 8 is split into the Practicals Batch, Scholars Batch and the Pragyaan (Olympiad) Batch.</p>

</div>

<div class="parallaxIMG">
  <img class="IMG" src="{% static 'Images/classroom6.jpg' %}">
  <h1 class="caption right">Our Students</h1>
</div>

<div class="general right blue2">
  <p>The Science Center has a host of distinguished mentors, staff and visiting faculty.</p>

</div>

{% endblock %}
