{% extends "format.html" %}
{% load static %}

{% block pageName %}Infrastructure{% endblock %}

{% block submenu %}
<tr>
  <td onclick="location.href='/Laboratories/physics'">Physics Lab</td>
  <td onclick="location.href='/Laboratories/chemistry'">Chemistry Lab</td>
  <td onclick="location.href='/Laboratories/biology'">Biology Lab</td>
  <td onclick="location.href='/Laboratories/mathematics'">Mathematics Lab</td>
  <td onclick="location.href='/Laboratories/computers'">Computer Lab</td>
  <td onclick="location.href='/Laboratories/astronomy'">Innovation Lab</td>
  <td onclick="location.href='/Laboratories/library'">Library</td>
  <td onclick="location.href='/Laboratories/auditorium'">Auditorium</td>
</tr>
{% endblock %}

{% block titleText %}Laboratories{% endblock %}

{% block body %}

<div class="general blue2 centre">
  <h1><strong>Our Infrastructure</strong></h1>
  <p class="laboratoriesC" style="text-align: justify;">Our laboratories provide our students with access to the latest top-of-the-line scientific instruments and tools so that they may experiment.It has six laboratories (Physics, Chemistry, Mathematics, Biology, Electronics and Computers, Astronomy). Each laboratory is equipped for carrying out the prescribed experiments and also has the pedagogic tools and teaching aids required for imparting learning. The Centre also houses a library, an auditorium, an exhibition hall and an open-air amphitheatre.
  and explore.</p>
</div>

<div class="asset-container">
  <div class="wrapper2" >
    <div class="swiper-container mySwiper2" style="height: 500px; z-index: -1;">
      <div class="swiper-wrapper">
        <div class="swiper-slide " >
          <img class="swiper-back1" src="{% static 'Images/Infra2.JPG' %}" alt="">
        </div>
        <div class="swiper-slide">
          <img class="swiper-back1" src="{% static 'Images/Infra6.JPG' %}" alt="">
        </div>
        <div class="swiper-slide">
          <img class="swiper-back1" src="{% static 'Images/Infra5.JPG' %}" alt="">
        </div>
        <div class="swiper-slide">
          <img class="swiper-back1" src="{% static 'Images/Infra3.jpg' %}" alt="">
        </div>
      </div>
    </div>
</div>
</div>


<main class="page-content">
  <div class="card">
      <div class="content">
          <h2 class="title">Physics Lab</h2>
          <p class="copy">Check out all of these gorgeous mountain trips with beautiful views of, you guessed it, the mountains</p><button onclick="location.href='/Laboratories/physics'" class="btn">Let's Go</button>
      </div>
  </div>
  <div class="card">
      <div class="content">
          <h2 class="title">Mathematics Lab</h2>
          <p class="copy">Plan your next beach trip with these fabulous destinations</p><button onclick="location.href='/Laboratories/mathematics'" class="btn">Let's Go</button>
      </div>
  </div>
  <div class="card">
      <div class="content">
          <h2 class="title">ICT Lab</h2>
          <p class="copy">It's the desert you've always dreamed of</p><button onclick="location.href='/Laboratories/computers'" class="btn">Let's Go</button>
      </div>
  </div>
  <div class="card">
      <div class="content">
          <h2 class="title">Maker's Space</h2>
          <p class="copy">Seriously, straight up, just blast off into outer space today</p><button onclick="location.href='/Laboratories/astronomy'" class="btn">Let's Go</button>
      </div>
  </div>
  <div class="card">
    <div class="content">
        <h2 class="title">Multipurpose Hall</h2>
        <p class="copy">Seriously, straight up, just blast off into outer space today</p><button onclick="location.href='/Laboratories/library'" class="btn">Let's Go</button>
    </div>
</div>
<div class="card">
  <div class="content">
      <h2 class="title">Open Air Amphitheatre</h2>
      <p class="copy">Seriously, straight up, just blast off into outer space today</p><button onclick="location.href='/Laboratories/auditorium'" class="btn">Let's Go</button>
  </div>
</div>
<div class="card">
  <div class="content">
      <h2 class="title">Chemistry Lab</h2>
      <p class="copy">Seriously, straight up, just blast off into outer space today</p><button onclick="location.href='/Laboratories/chemistry'" class="btn">Let's Go</button>
  </div>
</div>
<div class="card">
  <div class="content">
      <h2 class="title">Biology Lab</h2>
      <p class="copy">Seriously, straight up, just blast off into outer space today</p><button onclick="location.href='/Laboratories/biology'" class="btn">Let's Go</button>
  </div>
</div>
</main>

</div>


<!-- <div class="parallaxIMG hoverShadow" onclick="location.href='/Laboratories/physics'">
  <img class="IMG" src="{% static 'Images/physicsLab.jpg' %}">
  <h1 class="caption right">Physics Lab</h1>
</div>

<div class="parallaxIMG hoverShadow" onclick="location.href='/Laboratories/chemistry'">
  <img class="IMG" src="{% static 'Images/chemistryLab.jpg' %}">
  <h1 class="caption left">Chemistry Lab</h1>
</div>

<div class="parallaxIMG hoverShadow"  onclick="location.href='/Laboratories/biology'">
  <img class="IMG" src="{% static 'Images/biologyLab.jpg' %}">
  <h1 class="caption right">Biology Lab</h1>
</div>

<div class="parallaxIMG hoverShadow" onclick="location.href='/Laboratories/mathematics'">
  <img class="IMG" src="{% static 'Images/mathLab.jpg' %}">
  <h1 class="caption left">Mathematics Lab</h1>
</div>

<div class="parallaxIMG hoverShadow" onclick="location.href='/Laboratories/computers'">
  <img class="IMG" src="{% static 'Images/computerLab.jpg' %}">
  <h1 class="caption right">Computer Lab</h1>
</div>

<div class="parallaxIMG hoverShadow" onclick="location.href='/Laboratories/astronomy'">
  <img class="IMG" src="{% static 'Images/astronomyLab.jpg' %}">
  <h1 class="caption left">Innovation Lab</h1>
</div>

<div class="parallaxIMG hoverShadow" onclick="location.href='/Laboratories/library'">
  <img class="IMG" src="{% static 'Images/MultipurposeHall.jpg' %}">
  <h1 class="caption right">Multipurpose Hall</h1>
</div>

<div class="parallaxIMG hoverShadow" onclick="location.href='/Laboratories/auditorium'">
  <img class="IMG" src="{% static 'Images/auditorium1.jpg' %}">
  <h1 class="caption left">Open Air Amphitheatre</h1>
</div> -->

{% endblock %}
