{% extends "format.html" %}
{% load static %}

{% block pageName %}Manage Website{% endblock %}

{% block submenu %}
{% endblock %}
{% block titleText %}Manage Website{% endblock %}

{% block body %}

<div class="general">
  <h1 class="manageButton" onclick="location.href='/NoticeBoard'"><strong>Manage Notice Board</strong></h1>
</div>

<div class="general blue2">
  <h1 class="manageButton" onclick="location.href='/AboutUs/visitingFaculty'"><strong>Manage Visiting Faculty</strong></h1>
</div>

{% endblock %}
