{% extends "aboutUs.html" %}
{% load static %}

{% block pageName %}About Us | Management{% endblock %}

{% block titleText %}Management{% endblock %}

{% block body %}

<!--<div class="general centre">

  <table>

    <tr>
      <th colspan="3">President</th>
    </tr>

    <tr>
      <td colspan="3">Shri. Rahul Bajaj, Chairman, Bajaj Group of Industries</td>
    </tr>


  </table>

</div>

<div class="general blue1 centre">

  <table>

    <tr>
      <th colspan="6">Trustees</th>
    </tr>

    <tr>
      <td colspan="2">Shri Madhur Bajaj</td>
      <td rowspan="2" colspan="2">Shri Sanjay Bhargava</td>
      <td>Shri Shekhar Bajaj</td>
    </tr>

    <tr>
      <td colspan="2">Shri Niraj Bajaj</td>
      <td colspan="2">Dr. Ulhas Jaju</td>
    </tr>

    <tr>
      <th colspan="3">Secretary</th>
      <th colspan="3">Joint Secretary</th>
    </tr>

    <tr>
      <td colspan="3">Shri Bharat Mahodaya</td>
      <td colspan="3">Shri Bhupendra Lohiya</td>
    </tr>

    <tr>
      <th colspan="6">Director</th>
    </tr>

    <tr>
      <td colspan="6">Dr. Govinda Lakhotiya</td>
    </tr>

  </table>

</div>

<div class="general blue2 centre">
  <table>

    <tr>
      <th>Staff</th>
      <th>Position</th>
    </tr>

    <tr>
      <td>Manisha Sakhare</td>
      <td>Mathematics Teacher</td>
    </tr>

    <tr>
      <td>Mrs. Kavita Hande</td>
      <td>Electronics and Computers Teacher</td>
    </tr>

    <tr>
    <td>Ms. Shikha Oza</td>
    <td>Chemistry Teacher</td>
    </tr>

    <tr>
      <td>Mrs. Pratiksha Pandey</td>
      <td>Biology Teacher</td>
    </tr>

    <tr>
      <td>Mr. Sumit Bobade</td>
      <td>Physics Teacher</td>
    </tr>

    <tr>
      <td>Mrs. Manisha Deshmukh</td>
      <td>Office Admin</td>
    </tr>

    <tr>
      <td>Mr. Amit Punewar</td>
      <td>Office Assistant</td>
    </tr>

    <tr>
      <th colspan="2">Mentors</th>
    </tr>

    <tr>
      <td>Shri C. Y. Deshpande (Retired Engineer, Bajaj Auto)</td>
      <td>Dr. Rajesh Khapade (HBCSE, TIFR, Mumbai)</td>
    </tr>

    <tr>

    </tr>

    <tr>
      <td colspan="2">Dr. Vasudha Wanmali (Former Vice-Principal, J.B. College of Science, Wardha)</td>
    </tr>


  </table>

</div>-->

<div class="management"">
<table class="management">
  <tr>
    <th style="border-top-left-radius: 20px; background-color:#FFF1C1; border: 4px solid #293462; color:#293462;"><strong>President</strong></th>
    <td style="background-color:#FFF1C1; border: 4px solid #216583; color:#293462; size: 30px"><strong>Rahul Bajaj</strong></td>
    <td style="border-top-right-radius: 20px; background-color:#FFF1C1; border: 4px solid #216583; color:#293462; size: 30px"><strong>Chairman, Bajaj Group of Industries</strong></td>
  </tr>

  <tr>
    <th rowspan="4">Trustees</th>

    <td colspan="2">Shri Shekhar Bajaj, Chairman, Bajaj Electricals Ltd</td>
  </tr>
  <tr>
    <!--<th></th>-->
    <td colspan="2"> Shri Madhur Bajaj, Vice Chairman, Bajaj Auto Ltd.</td>
  </tr>
  <tr>
    <!--<th></th>-->
    <td colspan="2">Shri Niraj Bajaj, Co-Chairman, Mukund Limited
    </td>
  </tr>
  <tr>
    <!--<th></th>-->
    <td colspan="2">Shri Sanjay Bhargava, Chairman, Shiksha Mandal, Wardha
    </td>
  </tr>

  <tr>
    <th>Secretary</th>
    <td colspan="2">Shri Bharat Mahodaya</td>
  </tr>
  <tr>
    <th>Joint Secretary</th>
    <td colspan="2">Shri Bhupendra Lohiya</td>
  </tr>
  <tr>
    <th>Honorary Director</th>
    <td colspan="2">Dr. Govinda Lakhotiya</td>
  </tr>

  <tr>
    <th rowspan="5">Teaching Staff</th>
    <td>Ms. Manisha Sakhare</td>
    <td>Mathematics Teacher</td>
  </tr>
  <tr>
    <!--<th></th>-->
    <td>Ms. Kavita Hande</td>
    <td>Electronics and Computers Teacher</td>
  </tr>
  <tr>
    <!--<th></th>-->
    <td>Ms. Shikha Oza</td>
    <td>Chemistry Teacher</td>
  </tr>
  <tr>
    <!--<th></th>-->
    <td>Ms. Pratiksha Pandey</td>
    <td>Biology Teacher</td>
  </tr>
  <tr>
    <!--<th></th>-->
    <td>Mr. Sumit Bobade</td>
    <td>Physics Teacher</td>
  </tr>

  <tr>
    <th rowspan="2">Administrative Staff</th>
    <td>Ms. Manisha Deshmukh</td>
    <td>Adminis Officer</td>
  </tr>

  <tr>
    <!--<th></th>-->
    <td>Mr. Amit Punewar </td>
    <td>Laboratory Assistant</td>
  </tr>

  <tr>
    <th rowspan="3" style="border-bottom-left-radius: 20px;">Mentors</th>
    <td>Shri C. Y. Deshpande</td>
    <td>Dean, Bajaj Institute of Technology</td>
  </tr>
  <tr>
    <!--<th></th>-->
    <td>Dr. Sujata Bhargava,</td>
    <td>Former Head, Department of Botany, University of Pune</td>
  </tr>
  <tr>
    <!--<th></th>-->
    <td>Dr. Vasudha Wanmali</td>
    <td style="border-bottom-right-radius: 20px;">Former Vice-Principal, Bajaj College of Science, Wardha
    </td>
  </tr> 

</table>
</div>

{% endblock %}
