{% extends "laboratories.html" %}
{% load static %}

{% block pageName %}Laboratories | Math{% endblock %}

{% block titleText %}Math Lab{% endblock %}

{% block body %}

<div class="general">
<p>Mathematics Laboratory is a place where anybody can perform experiments (activities) and explore their ideas. It is a place where one will find a collection of games, puzzles and other teaching and learning materials. The material is meant to be used by both the students on their own and with their teacher to explore the world of mathematics, to discover, to learn and to develop an interest in mathematics. The activities and puzzles in the maths laboratory appealing to a wide range of people of different ages. These activities are intended to give children an experience of doing mathematics and not merely for the purpose of demonstration. The lab method is a method of teaching children in small groups. The children move around, discuss, choose their required materials, and can do the activities individually.
  The exposure camps and workshops help students to appear for different competitive exams like:
  </p>
  <ul>
    <li>Bhaskaracharya Mathematics Talent Search Competition (BMTSC)</li>
    <li>National Mathematics Talent Contest (NMTC)</li>
    <li>Pre-regional Mathematics Olympiad (PRMO)</li>
    <li>Indian Olympiad Qualifier in Mathematics (IOQM)</li>
  </ul>
</div>

<div class="general blue2">
<p>The activities and puzzles in the maths laboratory appealing to a wide range of people of different ages. These activities are intended to give children an experience of doing mathematics and not merely for the purpose of demonstration.The lab method is a method of teaching children in small groups. The children move around, discuss, choose their required materials, and can do the activities individually.
The Mathematics Lab involves:</p>
</div>

<div class="general">
<h1>Models:</h1>
<ul>
  <li>Mensuration Kit</li>
<li>Algebra kit</li>
<li>Pythagoras Theorem Kit</li>
<li>Midpoint Theorem</li>
<li>Angle Bisector Theorem</li>
<li>Platonic Solids</li>
<li>Prisms and Pyramids</li>
<li>Geometrical Solids</li>
<li>Conic Sections</li>

</ul>
</div>

<div class="general blue2">
<h1>Puzzles:</h1>
<ul>
  <li>Make a Square puzzle</li>
  <li>Equilateral Triangle and Square puzzle</li>
  <li>Soma Cube</li>
  <li>Pegboard Puzzle</li>
  <li>Tower of Brahma</li>
  <li>Divisible by 7 puzzle</li>
</ul>
</div>

<div class="general">
<h1>Games:</h1>
<ul>
  <li>Number Game 1 to 8</li>
  <li>Crazy Cubes</li>
  <li>Four in a Line</li>
</ul>
</div>

<div class="general blue2">
  <h1>List of some experiments and activities:
  </h1>
  <ul>
    <li>To find out the formulae for the area of square, rectangle using geo-board.
    </li>
    <li>To verify that the sum of the angles of a triangle is 180<sup>0</sup>.</li>
    <li>To verify that the sum of the angles of a quadrilateral is 360<sup>0</sup>.</li>
    <li>To verify that the sum of the angles of a quadrilateral is 3600.</li>
    <li>To verify Euler’s theorem i.e. F + V = E + 2. (F: No. of faces, V: No. of vertices, E: No. of edges) using platonic solids.</li>
    <li>To prepare a tangram by paper folding and to prepare the different shades from tangram.</li>
    <li>To verify that the diagonal of a parallelogram divides it into two congruent triangles.
    </li>
    <li>Experiments on geogebra
    </li>
    <li>
      To find the prime numbers less than or equal to 35.
    </li>
    <li>
      To verify the Pythagoras theorem by the method of paper folding, cutting and pasting.
    </li>
    <li>
      To verify identities: i) (a + b)3, ii) (a - b)3.
    </li>
  
  </ul>
  </div>

{% endblock %}
