{% extends "programs.html" %}
{% load static %}

{% block pageName %}Programs | Teaching Programs{% endblock %}

{% block titleText %}Batches and Programs{% endblock %}

{% block body %}
<div class="general left blue2">
  <h1 style="text-align: center;">Admissions</h1>
  <p class="text-center about" style="font-size:1.5em;">
    <br>
    Admissions to the Bajaj Science Education Centre are made through entrance exams conducted for school students of 5th and 7th Standards. Students from all schools of Wardha district are invited for the entrance exam. <br>
    <br>
    Entrance Exam dates: <br>
    5th Std: First Sunday of April (Release of notification: First week of March) <br>
    7th Std.: First Sunday of March (Release of notification: First week of February) <br>
    The 7th Standard students who are admitted continue their association with the Centre up to the 10th Standard. 
    </p>
</div>

<div class="general left">
  <h1>Teaching Programs</h1>
  <p class="text-center about" style="font-size:1.5em;">
    <br>
    <strong> 5th and 6th Std. Batch: </strong> Selected students (35) attend two sessions per week, during which they carry out experiments/activities 
    based on their school curricula. They are also given some demonstrations of scientific concepts by the teachers. <br> These students are 
    trained for competitive exams like Homi Bhabha Bal Vaigyanik Pratiyogita and Bhaskaracharya Mathematics Talent Search Competition.
  </p>

  <br>
  <p class="text-center about" style="font-size:1.5em;">
      <br>
      <strong> 7th Std. Batch: </strong> Selected students (about 200) are split into two batches. <br>A Practical batch and a Scholar batch. 
      Both batches are given hands-on training in the experiments included in their school curricula and outside it. 
      Practical batch students attend one laboratory session per week, besides participating in workshops conducted by guest faculty.
      The scholar batch attend three lecture sessions per week on topics in science and mathematics besides one laboratory session. 
      They are also given short-term projects, which they carry out with help from their mentors. 
      
  </p>
  <br>
  <p class="text-center about" style="font-size:1.5em;">
    <br>
    <strong> 8th and 9th Std. Batch: </strong> On the basis of their performance, the 7th Std. students who go to the 8th Std., are divided 
    into three batches: <br>
    (a) Practical Batch: Students attend one laboratory session per week. <br>
    
    (b) Scholar Batch: Students attend one laboratory session and one lecture session on 
    topics in science and mathematics per week. 15-20 students are selected for this program. <br>

    (c) Pragyaan Batch: Students attend lecture and laboratory sessions for six days a week. 
    15 students from 7th Std. batch are selected for this program and are trained for the National Junior Science 
    Olympiad programme by experts across the country. 
  </p>
  <br>
  <p class="text-center about" style="font-size:1.5em;">
    <br>
    <strong> 10th Std. Batch: </strong> Depending on the interest and involvement of 9th Std. students, they are 
    divided into two batches in the 10th Std. <br>
    (a) Practical Batch: Students attend one laboratory session per week based on their school curricula. <br>
    (b) Scholar Batch: Students attend two laboratory sessions per week. Students are also trained for advanced computational tools, 
    besides one laboratory session per week.
    
  </p>

</div>
{% endblock %}
