{% extends "format.html" %}
{% load static %}

{% block pageName %}Social Media{% endblock %}

{% block titleText %}Social Media{% endblock %}

{% block body %}
<div class="general blue2 centre">
    <h1><strong>Social Media</strong></h1>
    <br>
    <div style="margin: auto;">
    <iframe width="80%" height="500" class="centre"
    src="https://www.youtube.com/embed/Ng3MX4XVTuQ">

    </iframe>
    </div>
    <div style="padding:20px; background-color: black; width: 200px; border-radius: 10px; margin-top: 20px;">
        <a style="font-size:30px;" href="https://www.facebook.com/BSCWARDHA">Facebook</a> 
    </div>
</div>
{% endblock %}
