{% extends "format.html" %}
{% load static %}

{% block pageName %}Student Section{% endblock %}

{% block submenu %}
<tr>
  <td onclick="location.href='/StudentSection/acheivements'">Acheivements</td>
  <td onclick="location.href='/StudentSection/simulations'">Simulations</td>
</tr>
{% endblock %}

{% block titleText %}Student Section{% endblock %}

{% block body %}

<div class="general right hoverShadow hUnderline" style="padding: 40px 0px;" onclick="location.href='/StudentSection/acheivements'">
  <h1><strong>Go to Acheivements Page        <i class="fas fa-arrow-circle-right"></i><strong></h1>
</div>

<div class="general blue2 right hoverShadow hUnderline" style="padding: 40px 0px;" onclick="location.href='/StudentSection/simulations'">
  <h1><strong>Go to Simulations Menu        <i class="fas fa-arrow-circle-right"></i><strong></h1>
</div>

<div class="general blue1">
  <h1 style="text-align:center;"><strong><u>Quick Links</u></strong></h1>

</div>

<div class="general right hoverShadow hUnderline" style="padding: 40px 0px;" onclick="location.href='/StudentSection/standard5'">
  <h1><strong>Standard 5        <i class="fas fa-arrow-circle-right"></i><strong></h1>
</div>

<div class="general blue2 right hoverShadow hUnderline" style="padding: 40px 0px;" onclick="location.href='/StudentSection/standard6'">
  <h1><strong>Standard 6        <i class="fas fa-arrow-circle-right"></i><strong></h1>
</div>

<div class="general right hoverShadow hUnderline" style="padding: 40px 0px;" onclick="location.href='/StudentSection/standard7'">
  <h1><strong>Standard 7        <i class="fas fa-arrow-circle-right"></i><strong></h1>
</div>

<div class="general blue2 right hoverShadow hUnderline" style="padding: 40px 0px;" onclick="location.href='/StudentSection/standard8'">
  <h1><strong>Standard 8        <i class="fas fa-arrow-circle-right"></i><strong></h1>
</div>

<div class="general right hoverShadow hUnderline" style="padding: 40px 0px;" onclick="location.href='/StudentSection/standard9'">
  <h1><strong>Standard 9        <i class="fas fa-arrow-circle-right"></i><strong></h1>
</div>

<div class="general blue2 right hoverShadow hUnderline" style="padding: 40px 0px;" onclick="location.href='/StudentSection/standard10'">
  <h1><strong>Standard 10        <i class="fas fa-arrow-circle-right"></i><strong></h1>
</div>

{% endblock %}
