{% extends "simTemplate.html" %}
{% load static %}

{% block simHead %} | Gravity{% endblock %}

{% block JSSim %}

  <script src="{% static 'JS/Gravity/Gravity1.js' %}"></script>
  <script src="{% static 'JS/Gravity/Ball10.js' %}"></script>
  <script src="{% static 'JS/Gravity/BallData11.js' %}"></script>

{% endblock %}

{% block extraTabs %}
  <th onclick="location.href='/StudentSection/simulations'" class="outline">All Simulations</th>
{% endblock %}

{% block title %}Gravity Simulation{% endblock %}

{% block Properties %}

<tr>
  <td colspan="2">Gravitational Constant</td>
  <td colspan="2"><input type="range" min="0" max="1000" value="100" id="gSlider" class="DataSlider"></td>
  <td colspan="2" id="g">1</td>
</tr>

<!--<div id="BallData">

</div>-->

{% endblock %}

{% block additionalData %}
<h1 class="Sim t" style="margin-top: 20px; margin-bottom: 20px;">To add a Planet, click on the simulation window</h1>
{% endblock %}
